<td><%= comment.username %></td>
<td><%= comment.body %></td>
<td><%= comment.article.title %></td>
<td><%= link_to 'Show', article_comment_path(comment.article_id, comment.id), class: "btn btn-xs btn-success" %></td>
<td><%= link_to "Edit this Comment", edit_article_comment_path(comment.article_id, comment.id), class: "btn btn-xs btn-primary" %></td>
<td><%= link_to "Delete this Comment", article_comment_path(comment.article_id, comment.id), 
        method: :delete, data: {confirm: "Are you sure you want to delete the comment?"}, 
        class: "btn btn-xs btn-danger" %></td>